<div class="loader-bar-wrap">
  <div class="loader-bar-outer">
    <div class="loader-bar-inner{{ include.data.class | default: 'secondary' | prepend: ' ' }}{% if include.data.easing %} easing{% endif %}"></div>
  </div>
</div>