<ol class="skip-links">
  <li><a class="skip-link" href="#nav">Skip to Nav</a></li>
  <li><a class="skip-link" href="#main">Skip to Main</a></li>
  {% if page.url contains 'documentation' %}
  <li><a class="skip-link" href="#nav-docs">Skip to Documentation Nav</a></li>
  <li><a class="skip-link" href="#doc-content">Skip to Documentation Content</a></li>
  <li><a class="skip-link" href="#nav-page">Skip to Page Navigation</a></li>
  {% endif %}
</ol>