<div class="color-theme-picker">
  <button class="ctp-opener no-btn i-material">color_lens</button>
  <ul class="ctp-list">
    <li>
      <button class="ctp-selector no-btn active" data-theme="default">
        <span class="ctp-label">Default</span>
        <span class="ctp-circle default"></span>
      </button>
    </li>
    <li>
      <button class="ctp-selector no-btn" data-theme="earth-tones">
        <span class="ctp-label">Earth Tones</span>
        <span class="ctp-circle earth-tones"></span>
      </button>
    </li>
    <li>
      <button class="ctp-selector no-btn" data-theme="retro">
        <span class="ctp-label">Retro</span>
        <span class="ctp-circle retro"></span>
      </button>
    </li>
  </ul>
</div>