<footer class="footer island" role="contentinfo">
  <h2 class="push-0">Forward Slash Libraries</h2>
  <p class="push-0"><small>Designed and developed by <a href="https://adamrobillar.ca" target="_blank">Adam Robillard</a></small></p>
  <p class="push-0"><small>Code licensed MIT</small></p>
</footer>