.splash-page {
  .spalsh-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer {
    background-color: $color-primary-dark;
    &, a {
      color: $color-secondary-light;
    }
  }
}
