<header class="masthead">
  <div class="wrapper">
    <a class="logo-wrap" href="{{site.baseurl}}/">
      {% if page.url == '/' %}
      <h1 class="push-0">Forward Slash</h1>
      {% else %}
      <strong class="exa block text-secondary">Forward Slash</strong>
      {% endif %}
    </a>
    {% include site/nav.liquid %}
  </div>
</header>
