---
layout: default
---
<div class="grid-docs">
  <div class="nav-docs-wrap">
    <div class="nav-docs-toggle">
      {% include theme/snippets/nav-toggle.liquid url="nav-docs" id="nav-toggle-docs" ariaLabel="Press to open documentation menu" %}
      <strong class="block headline-5">Docs Menu</strong>
    </div>
    {% include theme/snippets/nav-docs.liquid %}
  </div>
  <div class="nav-page-wrap">
    <a class="nav-page-title block weight-medium text-upper" href="#top">{{ page.title }}</a>
    <nav id="nav-page" class="nav-page" tabindex="0">
      <ol class="list-group">
        {% if page.layout == "component" %}
          {% for heading in page.sections %}
            <li class="section-link"><a href="#{{ heading.title | slugify }}">{{ heading.title }}</a></li>            
          {% endfor %}
        {% endif %}
      </ol>
    </nav>
  </div>
  <div id="docs-content" class="docs-content">
    {{ content }}
  </div>
</div>