<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }} · {% endif %}Forward Slash</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body class="splash-page">
<div class="spalsh-container text-center">
  <div class="splash-content island-2">
    <h1 class="tenamega push-0">Forward Slash</h1>
    <p>A collection of different pattern libraries, available in both Adobe Xd and code formats.</p>
    <p class="giga text-secondary">Coming soon!</p>
  </div>
</div>
<footer>
  <div class="wrapper text-center island-1-2">
    <small>Website designed and developed by <a class="bold" href="https://adamrobillard.ca">Adam Robillard</a></small>
  </div>
</footer>
</body>
</html>
