.grid-docs {
  @include borderLeft(secondary);
  width: 100vw;
  .nav-docs-wrap {
    padding: calc(1rem * var(--line-height));
    .nav-docs-toggle {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-accent-3);
      padding-bottom: calc(.5rem * var(--line-height));
      .nav-toggle {
        margin-right: calc(.5rem * var(--line-height));
        .tog {
          background-color: var(--color-primary);
        }
      }
    }
    .nav-docs {
      max-height: 0;
      overflow: hidden;
      transition:
        max-height var(--transition);
      &.open {
        max-height: var(--height);
      }
      ul {
        padding-top: calc(1rem * var(--line-height))
      }
      a {
        text-decoration: none;
        color: var(--color-text);
        display: block;
        padding: calc(.25rem * var(--line-height)) 0;
        @include hov() {
          color: var(--color-accent-3);
        }
      }
      .nav-docs-section-title {
        @include typeScaleH5();
        color: var(--color-primary);
        font-weight: 600;
      }
    }
  }
  .nav-page-wrap {
    display: none;
  }
  .docs-content {
    padding: calc(1rem * var(--line-height)) calc(1rem * var(--line-height));
    grid-area: docs-content;
    h1 {
      color: var(--color-accent-3);
      // border-bottom: 1px solid var(--color-primary-pale);
      position: relative;
      &::after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 66.666%;
        height: 1px;
        background-color: var(--color-primary-pale);
      }
    }
  }
  @media only screen and (min-width: 50em) {
    display: grid;
    grid-template-columns: 15em 1fr;
    grid-template-areas:
      "nav-docs docs-content";
    // column-gap: calc(1rem * var(--line-height));
    .nav-docs-wrap {
      grid-area: nav-docs;
      padding: 0;
      .nav-docs ul {
        padding: 0;
      }
      .nav-docs-toggle {
        display: none;
      }
      .nav-docs {
        padding: calc(2rem * var(--line-height)) calc(1rem * var(--line-height));
        -webkit-position: sticky;
        position: sticky;
        top: 5rem;
        border-right: 1px solid var(--color-primary);
        overflow-y: scroll;
        max-height: none;
      }
    }
    .docs-content {
      --type-scale: 1.175;
      padding: calc(2rem * var(--line-height)) calc(2rem * var(--line-height));
      width: calc(100vw - 15em - (.5rem * var(--line-height)));
    }
  }
  @media only screen and (min-width: 90em) {
    grid-template-columns: 15em 1fr 10em;
    grid-template-areas:
      "nav-docs docs-content nav-page";
    .docs-content {
      width: calc(100vw - 25em - (.5rem * var(--line-height)));
    }
    .nav-page-wrap {
      -webkit-position: sticky;
      position: sticky;
      grid-area: nav-page;
      top: 5rem;
      display: block;
      padding: calc(2rem * var(--line-height)) 0;
      .nav-page-title {
        color: var(--color-accent-3);
        text-decoration: none;
      }
      ol {
        list-style-type: none;
        a {
          color: var(--color-text);
          text-decoration: none;
          display: block;
          padding: calc(.25rem * var(--line-height)) calc(.5rem * var(--line-height));
          @include typeScaleSmall;
          @include hov() {
            color: var(--color-secondary);
          }
        }
        .section-link a {
          font-weight: 600;
          padding: calc(.25rem * var(--line-height)) 0;
          @include typeScaleSmall();
        }
      }
    }
  }
  @media only screen and (min-width: 100em) {
  
    grid-template-columns: 15em 1fr 15em;
    .docs-content {
      width: calc(100vw - 30em - (.5rem * var(--line-height)));
    }
  
  }
}

